<% @photos.each do |photo| %>
	<p><%= photo.caption %></p>
	<p><%= link_to 'show', user_photo_path(current_user, photo) %></p>
	<%= image_tag photo.image %>
<% end %>

<p><%= link_to 'new', new_user_photo_path(current_user) %></p>
